<div class="text-center">
    <div class="login text-left" style="display: inline-block">
        <section class="title">
            <h3 class="welcome">Вход</h3>
            Дом детского творчества
           
        </section>
        <div class="login-group " >
            
            <clr-input-container>
                <label class="clr-sr-only">Логин</label>
                <input style="width: 250px" type="text" id="username" clrInput placeholder="Логин" value="jeka"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Пароль</label>
                <input style="width: 215px" type="password" id="password" clrPassword placeholder="Пароль" value="fgiuhuh"/>
            </clr-password-container>
           
            <div class="error" [class.hidden]="!error" style="color: red;">
                Неверное имя пользователя или пароль
            </div>
            
        </div>
		<div class="login-group text-right" >
		
			<button type="submit" class="btn btn-primary w-25 p-3"  (click)="tryLogIn()">Войти</button>
			
			
		</div>
    </div>
</div>
